:root {
  /* color */
  --body-background-color: #ffffff;
  --body-color: #757575;
  --color-header: #2196f3;
  --logo: #000000;
  --web-logo: #2196f3;
  /* color-logo (hover,focus) */
  --color-logo: #2196f3;
  /* end-logo-color */
  --menu-studio: #000000;
  --hero-one: #757575;
  --hero-one-background-color: #2f303a;
  --hero-title: #ffffff;
  --button-hero: #ffffff;
  --button-hero-background-color: #2196f3;
  --benefits-title: #212121;
  --two-title: #212121;
  --comande-background-color: #f5f4fa;
  --name-title: #212121;
  --work-title: #757575;
  --footer-background-color: #2f303a;
  --white-Studio: #ffffff;
  --contacts-list: rgba(255, 255, 255, 0.6);
  --contacts-list-hfa: #ffffff;
  --button-portfolio: #212121;
  --button-portfolio-background: #f5f4fa;
  --button-portfolio-hf-background: #2196f3;
  --button-portfolio-hf: #ffffff;
  --name-portfolio-link: #212121;
  --work-definition: #757575;
  --background-color-comande: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--body-background-color);
  font-family: Roboto, sans-serif;
  color: var(--body-color);
  margin: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-two {
  padding-top: 50px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-form-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: none;
  border-radius: 4px;
}

.two-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--two-title);
}

.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

.comande-icon-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.comande-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comande-icons:hover, .comande-icons:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.comande-icon-class {
  width: 20px;
  height: 20px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--logo);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--color-logo);
}

.logo-margin {
  margin-right: 93px;
}

.web-logo {
  color: var(--web-logo);
}

.header {
  padding-top: 30px;
  padding-bottom: 31px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid #eeeeee;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-studio {
  position: relative;
  text-decoration: none;
  color: var(--menu-studio);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-studio:hover, .menu-studio:focus, .menu-studio:active {
  color: var(--color-header);
}
.menu-studio.current {
  color: var(--color-header);
}
.menu-studio.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 4px;
  background-color: var(--color-header);
  border-radius: 2px;
  bottom: -39px;
  box-sizing: border-box;
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.icon-list {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.envelope-class {
  text-decoration: none;
  fill: var(--hero-one);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.smartphone-class {
  text-decoration: none;
  fill: var(--hero-one);
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.mail-link,
.tel-link {
  color: var(--hero-one);
  text-decoration: none;
  transition-property: color, fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--color-header);
}

.mail-link:hover .envelope-class,
.mail-link:focus .envelope-class {
  fill: var(--color-header);
}

.tel-link:hover .smartphone-class,
.tel-link:focus .smartphone-class {
  fill: var(--color-header);
}

.hero-one {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  text-align: center;
  align-items: center;
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 200px;
  width: 1600px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title);
  margin-bottom: 30px;
}

.button-hero {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: none;
  border-radius: 4px;
}

.benefits {
  padding-bottom: 0px;
}

.benefits-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.benefits-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  cursor: unset;
  background-color: #f5f4fa;
  fill: #212121;
}
.benefits-item-icon:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-icon-class {
  width: 70px;
  height: 70px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--benefits-title);
  margin-bottom: 10px;
}

.when {
  margin-bottom: 42px;
}

.when-gob {
  list-style: none;
  display: flex;
}

.two-title-container {
  position: relative;
}

.when-gob-item:not(:last-child) {
  margin-right: 30px;
}

.two-title-name-bloc {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 76%;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.two-title-name {
  position: absolute;
  color: #ffffff;
}

.comande {
  background-color: var(--comande-background-color);
}

.big {
  margin-bottom: 50px;
}

.comande-img {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.comande-img-item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.background-color-comande {
  background-color: var(--background-color-comande);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 38px;
  padding-right: 38px;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--name-title);
  margin-bottom: 10px;
}

.work-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--work-title);
  margin-bottom: 16px;
}

.customers-icon-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.customers-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icons:hover, .customers-icons:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: var(--footer-background-color);
}

.white-Studio {
  color: var(--white-Studio);
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin-footer {
  margin-bottom: 20px;
  margin-right: 156px;
}

.contacts {
  list-style: none;
  font-family: Roboto, sans-serif;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.target,
.mail-contacts,
.tel-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--contacts-list);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.target:hover,
.target:focus,
.target:active,
.mail-contacts:hover,
.mail-contacts:focus,
.mail-contacts:active,
.tel-contacts:hover,
.tel-contacts:focus,
.tel-contacts:active {
  color: var(--contacts-list-hfa);
}

.footer-h-three {
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
  margin-right: 154px;
}

.footer-icon-list {
  display: flex;
  list-style: none;
}
.footer-icon-list .footer-icon-list :not(:last-child) {
  margin-right: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons:hover, .footer-icons:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer-icon-class {
  width: 24px;
  height: 24px;
}

.modal-form-footer {
  width: 600px;
  height: 85px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button {
  transform: translateY(25%);
}

.modal-form-footer-label {
  display: flex;
}

.modal-form-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 12px;
  padding-left: 15px;
  background-color: #2f303a;
}

.modal-footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: none;
  border-radius: 4px;
  padding: 9px 29px;
}

.main-menu {
  padding-bottom: 0px;
}

.menu-portfolio {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu-portfolio-item :hover, .menu-portfolio-item :focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  height: 38px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-portfolio);
  cursor: pointer;
  background-color: var(--button-portfolio-background);
  border: none;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  background-color: var(--button-portfolio-hf-background);
  color: var(--button-portfolio-hf);
}

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px dashed #eeeeee;
  border-style: solid;
}

.img-portfolio-box {
  position: relative;
  overflow: hidden;
}

.img-portfolio {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.img-portfolio:hover .portfolio-text-box, .img-portfolio:focus .portfolio-text-box {
  transform: translateY(0%);
}
.img-portfolio:hover, .img-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0%;
  text-align: start;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.name-portfolio-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-portfolio-link);
}

.work-definition {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--work-definition);
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.close {
  width: 18px;
  height: 18px;
}
.close-btn:hover .close, .close-btn:focus .close {
  fill: var(--color-header);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.data {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-fild {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 12px;
}

.modal-form-fild-one {
  position: relative;
  display: block;
  margin-top: 7px;
}

.modal-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  box-sizing: border-box;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 7px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 21px;
  box-sizing: border-box;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::-moz-placeholder {
  text-transform: none;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  text-transform: none;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  text-transform: none;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus, .modal-form-message:hover {
  outline: none;
  border-color: #2196f3;
}

.modal-form-button {
  align-self: center;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  height: 18px;
  width: 18px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput:focus,
.modal-form-imput:hover {
  outline: none;
  border-color: #2196f3;
}
.modal-form-imput:focus + .modal-form-icon,
.modal-form-imput:hover + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  left: 0;
  border-radius: 2px;
  border: 0.2px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/icon/icon_check.svg");
  width: 17px;
  height: 17px;
  background-color: #2196f3;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  border: 0.2px solid #2196f3;
}/*# sourceMappingURL=main.css.map */