.burger-btn {
  justify-content: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 15px;

  &__icon {
    height: 40px;
    width: 40px;
    fill: #000000;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
      fill: var(--color-header);
    }
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.mobile-menu__close {
  background-color: #ffffff;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu__closen-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #000000;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    fill: var(--color-header);
  }
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
