.comande {
  background-color: var(--comande-background-color);
}

.big {
  margin-bottom: 50px;
}
.comande-img {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.comande-img-item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.background-color-comande {
  background-color: var(--background-color-comande);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 38px;
  padding-right: 38px;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--name-title);
  margin-bottom: 10px;
}

.work-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--work-title);
  margin-bottom: 16px;
}
