@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
  .customers-icon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;
    margin-left: -30px;
    margin-top: -30px;
  }
  .customers-icons {
    margin-left: 30px;
    margin-top: 30px;
    border: 1px dashed #eeeeee;
    border-style: solid;
  }
  .customers-icons {
    width: 208px;
  }
}
@media screen and (min-width: 768px) {
  .customers-icon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -30px;
    margin-top: -30px;
  }

  .customers-icons {
    margin-left: 30px;
    margin-top: 30px;
    border: 1px dashed #eeeeee;
    border-style: solid;
  }
  .customers-icons {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-icon-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .customers-icons {
    width: 170px;
  }
}
.customers-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
}
