@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-padding-logo {
    padding-bottom: 20px;
  }
  .footer-padding-contacts {
    padding-bottom: 60px;
  }
  .modal-form-footer-input {
    width: 444px;
  }
  .modal-form-footer-input {
    margin-bottom: 20px;
  }
  .modal-form-footer-label {
  }
  .modal-footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: column;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .modal-form-footer-label {
    display: flex;
    align-items: center;
  }
  .margin-footer {
    margin-bottom: 20px;
    margin-right: 156px;
  }
  .footer-h-three {
    font-weight: 700px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .modal-form-footer-input {
    width: 358px;
  }
  .modal-form-footer {
    height: 85px;
  }
  .modal-form-footer-input {
    height: 50px;
    margin-right: 12px;
    padding-left: 15px;
  }
  .button {
    transform: translateY(25%);
  }
}
.footer {
  background-color: var(--footer-background-color);
}
.white-Studio {
  color: var(--white-Studio);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts {
  list-style: none;
  font-family: Roboto, sans-serif;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.target,
.mail-contacts,
.tel-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--contacts-list);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.target:hover,
.target:focus,
.target:active,
.mail-contacts:hover,
.mail-contacts:focus,
.mail-contacts:active,
.tel-contacts:hover,
.tel-contacts:focus,
.tel-contacts:active {
  color: var(--contacts-list-hfa);
}

.footer-h-three {
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-list {
  display: flex;
  list-style: none;
  & :not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #2196f3;
  }
}

.footer-icon-class {
  width: 24px;
  height: 24px;
}

.modal-form-footer {
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.modal-form-footer-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  padding-left: 16px;
}

.modal-footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
  padding: 9px 29px;
}
