.hero-one {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  text-align: center;
  align-items: center;
  background-size: cover;
  padding-top: 206px;
  padding-bottom: 200px;
  width: 1600px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title);
  margin-bottom: 30px;
}

.button-hero {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: none;
  border-radius: 4px;
}
