.hero__one {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero3x.jpg);
  text-align: center;
  align-items: center;
  background-size: cover;
  width: 1600px;
  height: 600px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 1) and (min-width: 480px),
  (min-resolution: 115dpi) and (min-width: 480px),
  (min-resolution: 1dppx) and (min-width: 480px) {
  .hero__one {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__one {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3) and (min-width: 1200px),
  (min-resolution: 288dpi) and (min-width: 1200px),
  (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero__one {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero3x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero__one {
    width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 768px) {
  .hero__one {
    width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__one {
    width: 1600px;
    height: 600px;
    padding-top: 206px;
    padding-bottom: 200px;
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title);
  margin-bottom: 30px;
}

.button__hero {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-hero);
  cursor: pointer;
  background-color: var(--button-hero-background-color);
  border: none;
  border-radius: 4px;
}
