.comande-icon-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.comande-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: #2196f3;
  }
}

.comande-icon-class {
  width: 20px;
  height: 20px;
}
