h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
body {
  background-color: var(--body-background-color);
  font-family: Roboto, sans-serif;
  color: var(--body-color);
  margin: 0px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-two {
  padding-top: 50px;
  padding-bottom: 94px;
}
