:root {
  /* color */
  --body-background-color: #ffffff;
  --body-color: #757575;
  --color-header: #2196f3;
  --logo: #000000;
  --web-logo: #2196f3;
  /* color-logo (hover,focus) */
  --color-logo: #2196f3;
  /* end-logo-color */
  --menu-studio: #000000;
  --hero-one: #757575;
  --hero-one-background-color: #2f303a;
  --hero-title: #ffffff;
  --button-hero: #ffffff;
  --button-hero-background-color: #2196f3;
  --benefits-title: #212121;
  --two-title: #212121;
  --comande-background-color: #f5f4fa;
  --name-title: #212121;
  --work-title: #757575;
  --footer-background-color: #2f303a;
  --white-Studio: #ffffff;
  --contacts-list: rgba(255, 255, 255, 0.6);
  --contacts-list-hfa: #ffffff;
  --button-portfolio: #212121;
  --button-portfolio-background: #f5f4fa;
  --button-portfolio-hf-background: #2196f3;
  --button-portfolio-hf: #ffffff;
  --name-portfolio-link: #212121;
  --work-definition: #757575;
  --background-color-comande: #ffffff;
}
